@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat&family=Merriweather:wght@300&family=Playfair+Display&family=Poppins:wght@100;300&family=Ranchers&display=swap');

:root
{
    --violet : #686bae;
    --yellow : #f1eda3;
    --pink : #e5d2e0;
    --blue : #05a9c7;
}

body
{
    box-sizing: border-box;
    overflow-x: hidden;
}

/*Nav*/
nav
{
    height: 7em;
    background-color: var(--violet);
    opacity: 80%;
}

.navbar-brand
{
    color: var(--yellow);
    font-size: 2.5em;
}

.nav-link
{
    display: block;
    color: var(--yellow);
    font-size: 2em;
    font-family: 'Ranchers', sans-serif;
    font-weight: bold;
}

.nav-link:hover
{
    color: var(--blue);
}
/*Nav END*/

.fontCaveat
{
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    font-weight: bold;

}

.fontRanchers
{
    font-family: 'Ranchers', sans-serif;
}

/*MainTitle + animation*/
h1
{
    position: relative;
    color: var(--yellow);
    font-family: 'Bebas Neue', cursive;
    font-size: 10em !important;
    line-height: .7em !important;
    top: 8%;
    left: -45%;
    animation: flash 1.2s linear infinite;
}
@keyframes flash 
{
    0% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
    90% {
        color: var(--yellow);
        text-transform: none;
    }
    100% {
        color: var(--pink);
        text-shadow: 0 0 7px var(--pink);
    }
}

h1:nth-child(1){
    animation-delay: 0.1s;
}
h1:nth-child(2){
    animation-delay: 0.3s;
}
h1:nth-child(3){
    animation-delay: 0.5s;
}
h1:nth-child(4){
    animation-delay: 0.7s;
}
/*END*/

/*Skills animation*/
#skills
{
    height: 80px;
    width: 80px;
}

#borderSkills
{
    border: solid 2px var(--yellow);
    height: 150px;
    width: 4000px;
    margin-top: 15%;
    margin-left: -37%;
    
}

#container
{
    height: 100px;
    width: 3000px;
    margin-top: .5%; 
    margin-left: -20%;  
    animation: skills 8.5s linear infinite;
}

/*Titles*/
#titleSkills
{
    font-size: 8em;
    color: var(--yellow);
    margin-top: 5%;
}

#titleProjets
{
    font-size: 8em;
    color: var(--violet);
    margin-top: 5%;
}
/*Titles END*/

@keyframes skills
{
    0%
    {
        transform: translateX(200px);
        opacity: 10%;
    }

    25%
    {
        transform: translateX(500px);
        opacity: 100%;
    }

    50%
    {
        transform: translateX(800px);
        opacity: 10%;
    }

    75%
    {
        transform: translate(1100px);
        opacity: 100%;
    }

    100%
    {
        transform: translateX(1400px);
        opacity: 10%;
    }
}

#skillsTxt
{
    color: var(--yellow);
    font-size: 6em;
    font-family: 'Bebas Neue', cursive;
    margin-left: 30%;
    margin-top: -4.3%;
}
/*END*/

/*Btn*/
.btn
{
    height: 3em;
    width: 7em;
    color: var(--violet);
    font-size: .6em;
    font-weight: bold;
    background-color: var(--yellow);
    border-radius: 30px;
    border: solid 2px var(--yellow);
    margin-left: 40%;
}

.btn:hover
{
    background-color: var(--violet);
    color: var(--yellow);
    border: solid 2px var(--yellow);
}
/*Btn END*/

#logo
{
    height: 20em;
    width: 20em;
}

/*Section*/
.acceuil
{
    background: url(../img/banner/banner1.svg) center center no-repeat;
    background-size: cover;
    height: 4700px;
}

.projets
{
    background: url(../img/banner/banner2.svg) center center no-repeat;
    background-size: cover;
    height: 5500px;
    margin-top: -100%;
}
/*Section END*/

#cardAcceuil
{
    background-color: var(--pink);
}